@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* color: #cc866c; */

body{
    font-family: "Oswald", sans-serif;
    color: white;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    font-style: normal;
    background: #000;
    margin: 0;
}

/* commom styles */
.section-container, .about, .user-container, .services, .news {
    max-width: 85%;
    margin: 0 auto;
}
section, .about, .services, .news{
    margin-top: 120px;
}
h2.section-title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    margin-bottom: 45px;
}
.section-little{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 17px;
    color:#cc866c ;
}
a.btn-primary {
    background-color: #cc866c;
    /* box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15); */
    color: #FFF;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}
.bg-lp{
    background-color: #cc866c;;
}
.cl-lp{
    color: #cc866c;;
}
/* commom styles */


/* header section styles */
header{
    background: url(img/banner.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo h3 {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #fff;

}
.nav-items ul {
    display: flex;
    gap: 40px;
}
.nav-items ul li {
    list-style: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    color: #fff;
}
.nav-items ul li a {
    text-decoration: none;
    color: white;
}
.nav-bar-icon{
    display: none;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 1px 10px;
}
.banner-content {
    margin: 8.1rem 0 1rem 0;
}
.banner-content h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 0 0 4rem 0;
}
.banner-content h5 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10px;
}
/* header section styles */

/* About section styles */
.about{
    display: flex;
    justify-content: space-between;
    gap: 55px;
    align-items: center;
}
.about-img{
    position: relative;
}
.about-circle.bg-lp span {
    font-size: 50px;
    font-family: 'Oswald';
}
.about-circle {
    font-family: "roboto";
    background-color: #cc866c;
    display: inline;
    padding: 35px 25px;
    position: absolute;
    border-radius: 100%;
    border: 3px solid white;
    left: 245px;
    top: 205px;
    text-align: center;
}
.about-content h5 {
    margin-bottom: 0;
}
p.about-description {
    color: #777;
    font-family: 'Roboto';
    line-height: 1.5;
}
.about-text {
    display: flex;
    gap: 10px;
    align-items: center;
}
.about-text p{
    color: #777;
    font-family: 'Roboto';
}
.about-btn {
    margin-top: 30px;
}
/* About section styles */

/* User section styles */
.users{
    background-color: #222;
}
.user-container {
    padding: 100px 0;
}
.users-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* User section styles */

/* Services section styles */
.services{
    text-align: center;
}
.services-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.services-card {
    background: #222;
}
.services-card img {
    width: 100%;
}
h3.services-card-title {
    font-weight: 300;
    font-size: 25px;
}
p.services-card-description {
    font-family: 'Roboto';
    color: #777;
    line-height: 1.5;
    padding-bottom: 20px;
}
/* Services section styles */

/* Feedback section title  */
.feedback{
    background: url(img/feedback.png);
    text-align: center;
    padding: 120px 0;
}
h2.feedback-text {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
    width: 85%;
    margin: 40px auto;
}
.feedback-person {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
h3.feedback-person-name {
    font-weight: 300;
    margin: 0;
    font-size: 21px;
}
p.feedback-person-designaion {
    margin: 5px 0;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
}
/* Feedback section styles  */

/* Portfolio section styles */
.portfolio {
    background: #222;
    padding: 105px 0;
    margin-top: 0;
}
.portfolio-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.portfolio-img-container img{
    width: 100%;
}
.portfolio-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio-btn{
    background-color: #fff;
    box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
    color: #000;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
    font-family: "Oswald", sans-serif;
    margin-left: 10px;
}
a.portfolio-btn.fst-child {
    background: #cc866c;
    color: white;
}
/* Portfolio section styles */

/* News section styles */
.news{
    text-align: center;
}
.news-box-container {
    display: flex;
    gap: 23px;
}
.news-box{
    background-color: #222;
}
img.news-img{
    width: 100%;
}
.news-content {
    text-align: left;
    padding: 30px;
    font-family: "roboto";
}
.news-admin-date {
    display: flex;
    /* gap: 30px; */
    color: #777;
    text-transform: capitalize;
}
.news-admin {
    padding-right: 12px;
    margin-right: 1px solid #353535;
    border-right: 2px solid #575757;
}
.news-date{
    padding-left: 12px;
}
.news-admin-date i{
    color: #cc866c;
    margin-right: 5px;
}
h3.news-title {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 23px;
}
p.news-description {
    color: #777;
    font-size: 17px;
    line-height: 1.5;
}
/* News section styles */

/* Signup-section styles */
.signup{
    background-color: #cc866c;
    padding: 50px 0;
}
.signup-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signup-title h2{
    font-size: 45px;
    font-weight:300 ;
    font-family: "oswald";
    text-transform: uppercase;
}
input#email {
    padding: 17px 45px 12px 25px;
    font-size: 17px;
    border: none;
}
input#submit {
    padding: 13px 38px;
    font-family: "oswald";
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 300;
    margin-left: -3px;
    cursor: pointer;
}
/* Signup-section styles */

/* Footer section styles */
footer{
    background: #131819;
    padding: 35px 0
}
.footer-content {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-between;
    color: #a6aab0;
    align-items: center;
}
.footer-left{
    max-width: 20%;
}
.footer-logo h3{
    font-size: 2.4rem;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #fff;
    margin: 0 0 35px 0;
}
p.footer-left-description {
    color: #a6aab0;
    font-family: 'Roboto';
    line-height: 1.5;
    text-align: justify;
}
.footer-middle {
    display: flex;
    gap: 70px;
}
.footer-middle-second-item {
    display: flex;
    gap: 10px;
    font-family: 'Roboto';
    margin-bottom: 20px;
}
h3.footer-middle-title {
    font-weight: 350;
    text-transform: uppercase;
    color:white ;
    margin-bottom: 40px;
}
.footer-middle-first ul{
    padding-left: 0;
}
.footer-middle-first li {
    list-style: none;
    font-family: 'Roboto';
    margin-bottom: 25px;
}
.footer-middle-second-item-logo i {
    background-color: #cc866c;
    color: white;
    padding: 13px;
    border-radius: 50%;
}
.copyright{
    background-color: #222;
    margin-top: 0;
    font-family: "roboto";
}
.copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright-terms {
    display: flex;
}
.copyright-terms p:first-child {
    padding-right: 20px;
    border-right: 2px solid #fff;
}
.copyright-terms p:last-child {
    padding-left: 20px;
}
/* Footer section styles */

/* Responsive design styles */
@media screen and (max-width:576px) {
    img{
        width: 100%
    }
    .section-container, .services, .about, .news{
        max-width: 90%;
    }
    section, .about, .services, .news {
        margin-top: 70px;
    }
    .nav-items, .nav-btn, .about-circle{
        display: none;
    }
    .nav-bar-icon{
        display: block;
    }
    .banner-content h1 {
        font-size: 3.8rem;
        font-weight: 300;
    }
    .banner-content{
        margin-top: 3rem;
    }
    .about{
        flex-direction: column;
        gap:5px ;
    }
    h2.section-title{
        font-size: 33px;
    }
    .users-img-container{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .user-container {
        padding: 50px 0;
    }
    .services-card-container{
        flex-direction: column;
    }
    .feedback, .portfolio{
        padding: 75px 0;
    }
    h2.feedback-text{
        width: auto;
    }
    .feedback-person img, img.qt-ion {
        width: 18%;
    }
    .portfolio-img-container {
        grid-template-columns: repeat(1, 1fr);
    }
    a.portfolio-btn {
        display: none;
    }
    a.portfolio-btn.fst-child {
        display: block;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .portfolio-top-container{
        flex-direction: column;
        text-align: center;
    }
    #portfoli-title{
        margin-bottom: 25px;
    }
    .news-box-container, .signup-content{
        flex-direction: column;
    }
    .news-content{
        padding: 25px;
    }
    .signup-title h2{
        font-size: 32px;
    }
    input#email {
        padding: 19px 0px 15px 10px;
        border: none;
    }
    .signup-input{
        margin-left: -7px;
    }
    input#submit{
        padding: 15px 20px;
    }
    .footer-content{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-left{
        max-width: 100%;
    }
    .footer-middle{
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }
    .copyright-terms{
        display: none;
    }
    .copyright-text p {
        text-align: center;
        padding: 15px;
        line-height: 1.5;
    }
}
/* Responsive design styles */